
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>帐号设置</title>
    <% include ../common/link.ejs %>
</head>
<body>

    <% include ../common/header.ejs %>

<div class="layui-container fly-marginTop fly-user-main">

    <% include ../user/usernav.ejs %>

    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">我的资料</li>
                <li lay-id="avatar">头像</li>
                <li lay-id="pass">密码</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                    <form class="layui-form" method="post" lay-filter="profile" id="profile" >
                        <div class="layui-form-item">
                            <label for="L_email" class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" disabled id="email" name="email" required lay-verify="email" autocomplete="off" value="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_username" class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="username" required lay-verify="username" autocomplete="off" value="" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="radio" name="sex" value="0" checked title="男">
                                    <input type="radio" name="sex" value="1" title="女">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_username" class="layui-form-label">角色</label>
                            <div class="layui-input-inline">
                                <select disabled id="roleType" name="roleType" lay-filter="roleType">
                                    <option value="学生">学生</option>
                                    <option value="老师">老师</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_city" class="layui-form-label">城市</label>
                            <div class="layui-input-inline">
                                <input type="text" id="city" name="city" autocomplete="off" value="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label for="L_sign" class="layui-form-label">签名</label>
                            <div class="layui-input-block">
                                <textarea placeholder="随便写些什么刷下存在感" id="sign"  name="sign" autocomplete="off" class="layui-textarea" style="height: 80px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="profilesub" key="set-mine" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <div class="avatar-add">
                            <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
                            <button id="uploadImg" type="button" class="layui-btn upload-img">
                                <i class="layui-icon">&#xe67c;</i>上传头像
                            </button>
                            <img id="avatar" src="<%= session.pic %>">
                            <span class="loading"></span>
                        </div>
                    </div>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <form class="layui-form" method="post" lay-filter="repasword" id="repassword">
                        <div class="layui-form-item">
                            <label for="L_nowpass" class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input lay-verify="curpass" type="password" id="curpass" name="curpass" required autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_pass" class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input lay-verify="pass" type="password" id="pass" name="pass" required autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_repass" class="layui-form-label">确认密码</label>
                            <div class="layui-input-inline">
                                <input lay-verify="repass" type="password" id="repass" name="repass" required autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" id="repasswordsub" lay-filter="repasswordsub"  lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<% include ../common/footer.ejs %>

</body>
</html>
<script type="text/javascript" src="/javascripts/md5.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.render('select');
        form.verify({
            username: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!value){
                    return '用户名不能为空';
                }
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '用户名不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '用户名不能全为数字';
                }
            },
            pass:function(value,item){
                let pw2=$("#repass").val();
                if(pw2&!value){
                    return '密码不能为空';
                }
                if(pw2!=value){
                    return '2个密码必须一致';
                }
            },
            repass:function(value,item){
                let pw1=$("#pass").val();
                if(pw1&!value){
                    return '密码不能为空';
                }
                if(pw1!=value){
                    return '2个密码必须一致';
                }
            }
        });

        //表单初始赋值
        form.val('profile', {
            "username": "<%= session.username %>"
            ,"email": "<%= session.mail %>"
            ,"sex": "<%= session.sex %>"
            ,"sign": "<%= session.sign %>"
            ,"city": "<%= session.city %>"
            ,"roleType": "<%= session.role_type %>"
        })

        //监听提交
        form.on('submit(profilesub)', function(data){
            // console.log(JSON.stringify(data.field));
            $.post('/server/users/profile', data.field, function (res) {
                if (res.status == 0) {
                    return layer.alert('修改个人资料失败');
                } else {
                    $('#hdUserName', window.parent.document).html(res.session.username);
                    return layer.alert('修改个人资料成功');
                }
            });
            return false;
        });

        //监听提交
        form.on('submit(repasswordsub)', function(data){
            console.log(JSON.stringify(data.field));
            let subdata = {
                curpass: hex_md5(data.field.curpass),
                newpass: hex_md5(data.field.pass)
            };
            $.post('/server/users/changpassw', subdata, function (res) {
                if (res.status == 0) {
                    return layer.alert('当前密码错误，修改密码失败');
                } else {
                    $('#curpass').val('');
                    $('#pass').val('');
                    $('#repass').val('');
                    return layer.alert('修改密码成功');
                }
            });
            return false;
        });


    });

    layui.use('upload', function(){
        var $ = layui.jquery,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#uploadImg'
            ,url: '/server/users/avatar'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#avatar').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                console.log(res);
                if (res.status == 0) {
                    return layer.alert('上传头像失败');
                } else {
                    $('#avatar', window.parent.document).attr("src",res.session.pic);
                    $('#headerAvatar', window.parent.document).attr("src",res.session.pic);
                    return layer.alert('上传头像成功');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#avatarText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });
</script>