<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li id="shouye" class="layui-hide-xs layui-this"><a href="/">首页</a></li>
            <li id="tiwen"><a href="/server/topics/topics?class=提问&page=1&num=15">提问</a></li>
            <li id="fenxiang"><a href="/server/topics/topics?class=分享&page=1&num=15">分享</a></li>
            <li id="taolun"><a href="/server/topics/topics?class=讨论&page=1&num=15">讨论</a></li>
            <li id="jianyi"><a href="/server/topics/topics?class=建议&page=1&num=15">建议</a></li>
            <li id="gonggao"><a href="/server/topics/topics?class=公告&page=1&num=15">公告</a></li>
            <li id="dongtai"><a href="/server/topics/topics?class=动态&page=1&num=15">动态</a></li>

            <!-- 用户登入后显示 -->
            <% if(session && session.username){ %>
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index.html">我发表的贴</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index.html#collection">我收藏的贴</a></li>
            <% } %>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i id="search" name="search" class="layui-icon"></i></span>
            <a href="/" id="searchlink" class="layui-this" type="hidden"></a>
            <a href="#" onclick="addTopic()" class="layui-btn">发表新帖</a>
        </div>
    </div>
</div>
<script>
function addTopic(){
    <% if(session && session.username){ %>
    window.location.href='/add';
    <% } else { %>
    layer.confirm('请先登录！', {
        btn: ['登录','取消'] //按钮
    }, function(){
        window.location.href='/login';
    }, function(){
        return ;
    });

    <% } %>
}

const curtclass='<%= tclass %>';
if(curtclass){
    switch (curtclass) {
        case "提问":
            $("#shouye").removeClass("layui-hide-xs layui-this");
            $("#tiwen").addClass("layui-hide-xs layui-this");
            break;
        case "分享":
            $("#shouye").removeClass("layui-hide-xs layui-this");
            $("#fenxiang").addClass("layui-hide-xs layui-this");
            break;
        case "讨论":
            $("#shouye").removeClass("layui-hide-xs layui-this");
            $("#taolun").addClass("layui-hide-xs layui-this");
            break;
        case "建议":
            $("#shouye").removeClass("layui-hide-xs layui-this");
            $("#jianyi").addClass("layui-hide-xs layui-this");
            break;
        case "公告":
            $("#shouye").removeClass("layui-hide-xs layui-this");
            $("#gonggao").addClass("layui-hide-xs layui-this");
            break;
        case "动态":
            $("#shouye").removeClass("layui-hide-xs layui-this");
            $("#dongtai").addClass("layui-hide-xs layui-this");
            break;
    }
}


$("#search").on("click",function(){
    layer.open({
        type: 1
        ,title: false
        ,closeBtn: false
        ,shadeClose: true
        ,maxWidth: 10000
        ,skin: 'fly-layer-search'
        ,content: ['<form id="searchForm" action="">'
            ,'<input autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="key">'
            ,'<a id="searcheLink" style="display:none"></a>'
            ,'</form>'].join('')
        ,success: function(layero){
            var input = layero.find('input');
            input.focus();
            //layero.find('form').submit(function(){

             //   var _form = $(layero).find('form')
             //   _form.action ="/server/topics/topics?class=<%= tclass %>&status=<%= tstatus %>&sort=<%= sort %>&page=1&num=15";
                // var val = input.val();
                // if(val.replace(/\s/g, '') === ''){
                //     return false;
                // }
                // input.val(encodeURI(val));

                // input.val('site:/api/topics?key= '+ input.val());
                // $("#searchlink").attr("href","/?key=hot");
                // console.log($("#searchlink").attr("href"))
                // $("#searchlink").click();
            //});
            this.enterConfirm = function(event){
                if(event.keyCode === 13){
                    var val = input.val();
                    if(val.replace(/\s/g, '') === ''){
                        return false;
                    }
                    input.val(encodeURI(val));
                    //let searcheLink = $(layero).find('searcheLink');
                    //searcheLink.href="/server/topics/topics?class=<%= tclass %>&status=<%= tstatus %>&sort=<%= sort %>&page=1&num=15&key="+input.val();
                    //console.log(searcheLink.href);
                    //searcheLink.click();
                    window.location.href="/server/topics/topics?class=<%= tclass %>&status=<%= tstatus %>&sort=<%= sort %>&page=1&num=15&key="+input.val();
                    return false; //阻止系统默认回车事件
                }
            };
            $(document).on('keydown', this.enterConfirm); //监听键盘事件

        }
        , function(index, layero) {
            //按钮【按钮一】的回调
            alert();
        }
    })
})

</script>