<div class="fly-panel">
    <div class="fly-panel-title fly-filter">
        <a>置顶</a>
        <a href="#signin" class="layui-hide-sm layui-show-xs-block fly-right" id="LAY_goSignin" style="color: #FF5722;">去签到</a>
    </div>
    <ul class="fly-list">
        <% if(tops) tops.forEach(function (item, index) { %>
        <li>
            <a href="user/home.html" class="fly-avatar">
                <%
                    let pic = item.pic;
                    if(item.pic.indexOf("public") != -1){
                        pic=item.pic.substring(item.pic.indexOf("public") + "public".length, item.pic.length)
                    }
                %>
                <img src="<%= pic %>" alt="<%= item.username %>">
            </a>
            <h2>
                <a class="layui-badge"><%= item.tclass %></a>
                <a href="/server/topics/topic/<%= item.tid %>"><%= item.title %></a>
            </h2>
            <div class="fly-list-info">
                <a href="user/home.html" link>
                    <cite><%= item.username %></cite>
                    <% if(item.role_type=='老师'){ %>
                        <i class="iconfont icon-renzheng layui-hide-xs" title="老师"></i>
                    <% } %>
                </a>
                <%
                    function p(s) {
                        return s < 10 ? '0' + s: s;//时间补零
                    }
                    let date = new Date(item.publishtime);
                    let date_value1 = '未知'
                    if(date) {
                        date_value1=date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + p(date.getHours()) + ':' + p(date.getMinutes()) + ':' + p(date.getSeconds());
                    }
                %>
                <span><%= date_value1 %></span>

                <span class="fly-list-kiss layui-hide-xs" title="悬赏积分"><i class="iconfont icon-jifen"></i> <%= item.texperience %></span>
                <span class="layui-badge fly-badge-accept layui-hide-xs"><%= item.status %></span>
                <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> <%= item.replys %>
              </span>
            </div>
            <div class="fly-list-badge">
                <!--
                <span class="layui-badge layui-bg-black">置顶</span>
                <span class="layui-badge layui-bg-red">精帖</span>
                -->
            </div>
        </li>
        <% }) %>
        <% if(tops.length==0) { %>
            <div class="fly-none" style="min-height:20px;">没有相关数据</div>
        <% } %>
    </ul>
</div>