

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>帖子详情</title>
    <% include ../common/link.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/simditor.css"/>

</head>
<body>

<% include ../common/header.ejs %>
<% include ../common/column.ejs %>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1><%= data.title %></h1>
                <div class="fly-detail-info">
                    <!-- <span clas s="layui-badge">审核中</span> -->
                    <span class="layui-badge layui-bg-green fly-detail-column"><%= data.tclass %></span>

                    <% if(data.status=='未结'){ %>
                    <span class="layui-badge" style="background-color: #999;">未结</span>
                    <% }else {%>
                    <span class="layui-badge" style="background-color: #5FB878;">已结</span>
                    <% } %>

                    <% if(data.istop==1){ %>
                    <span class="layui-badge layui-bg-black">置顶</span>
                    <% } //只有设置了置顶才显示置顶标识%>
                    <% if(data.isselect==1){ %>
                    <span class="layui-badge layui-bg-red">精帖</span>
                    <% } //只有加精了才显示加精标识%>

                    <div class="fly-admin-box" data-id="123">
                        <% if(data.uid==session.uid){ %>
                        <span class="layui-btn layui-btn-xs jie-admin" type="del" onclick="deltopic('<%=data.tid %>')">删除</span>
                        <% } //只有创建者才能进行删除%>

                        <% if(session.role_type=='老师'){ %>
                            <% if(data.istop!=1){ %>
                            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1" onclick="settop('<%=data.tid %>','<%=data.istop %>','<%=session.uid%>')">置顶</span>
                            <% } //%>
                            <% if(data.istop==1){ %>
                            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;" onclick="settop('<%=data.tid %>','<%=data.istop %>','<%=session.uid%>')">取消置顶</span>
                            <% } //%>

                            <% if(data.isselect!=1){ %>
                            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1" onclick="setselect('<%=data.tid %>','<%=data.isselect %>','<%=session.uid%>')">加精</span>
                            <% } //%>
                            <% if(data.isselect==1){ %>
                            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;" onclick="setselect('<%=data.tid %>','<%=data.isselect %>','<%=session.uid%>')">取消加精</span>
                            <% } //%>
                        <% } //只有老师才能置顶和加精%>
                    </div>
                    <span class="fly-list-nums">
                        <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> <%= data.replys %></a>
                        <i class="iconfont" title="人气">&#xe60b;</i> <%= data.visits %>
                    </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar" href="/server/users/home?uid=<%=data.uid %>">
                        <%
                        let pic = data.pic;
                        if(data.pic.indexOf("public") != -1){
                            pic=data.pic.substring(data.pic.indexOf("public") + "public".length, data.pic.length)
                        }
                        %>
                        <img src="<%= pic %>" alt="<%= data.username %>">
                    </a>
                    <div class="fly-detail-user">
                        <a href="/server/users/home?uid=<%=data.uid %>" class="fly-link">
                            <cite><%= data.username %></cite>
                            <% if(session && session.role_type=='老师'){ %>
                                <i class="iconfont icon-renzheng layui-hide-xs" title="老师"></i>
                            <% } %>
                        </a>
                        <%
                        function p(s) {
                            return s < 10 ? '0' + s: s;//时间补零
                        }
                        let date = new Date(data.publishtime);
                        let date_value1 = '未知'
                        if(date) {
                            date_value1=date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + p(date.getHours()) + ':' + p(date.getMinutes()) + ':' + p(date.getSeconds());
                        }
                        %>
                        <span><%= date_value1 %></span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span style="padding-right: 10px; color: #FF7200">悬赏：<%= data.texperience %>积分</span>
                        <!--<% if(data.uid==session.uid){ %>-->
                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add.html">编辑此贴</a></span>-->
                        <!--<% } //只有创建者才能进行编辑%>-->
                    </div>
                </div>
                <div class="detail-body photos">
                    <%- data.tcontent.replace(/\\n/g, '<br>') %>
                </div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">
                    <% if(answers) answers.forEach(function (item, index) { %>
                    <li data-id="<%= item.aid %>" class="jieda-daan">
                        <a name="item-<%= item.aid %>"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar" href="">
                                <%
                                    let pic = item.pic;
                                    if(item.pic.indexOf("public") != -1){
                                        pic=item.pic.substring(item.pic.indexOf("public") + "public".length, item.pic.length)
                                    }
                                %>
                                <img src="<%= pic %>" alt="<%= item.username %>">
                            </a>
                            <div class="fly-detail-user">
                                <a href="" class="fly-link">
                                    <cite><%= item.username %></cite>
                                    <% if(item.role_type=='老师'){ %>
                                        <i class="iconfont icon-renzheng layui-hide-xs" title="老师"></i>
                                    <% } %>
                                </a>
                                <% if(index==0){ %>
                                <span>(楼主)</span>
                                <% } %>
                            </div>

                            <div class="detail-hits">
                                <%
                                    function p(s) {
                                        return s < 10 ? '0' + s: s;//时间补零
                                    }
                                    let date = new Date(item.atime);
                                    let date_value1 = '未知'
                                    if(date) {
                                        date_value1=date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + p(date.getHours()) + ':' + p(date.getMinutes()) + ':' + p(date.getSeconds());
                                    }
                                %>
                                <span><%= date_value1 %></span>
                            </div>
                            <% if(item.isaccept==1){ %>
                            <i class="iconfont icon-caina" title="最佳答案"></i>
                            <% } %>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <p><%- item.content.replace(/\\n/g, '<br>') %></p>
                        </div>
                        <div class="jieda-reply">
                            <span class="jieda-zan zanok" type="zan">
                                <i class="iconfont icon-zan" onclick="dianzan('<%=item.aid %>')"></i>
                                <em><%= item.afavor %></em>
                            </span>
                            <span type="reply" onclick="clickReply('<%=item.aid %>','<%=item.username %>','<%-item.content.replace(/\\n/g, '<br>') %>')">
                                <i class="iconfont icon-svgmoban53" ></i>
                                回复
                            </span>
                            <div class="jieda-admin">
                                <% if(data.uid==session.uid || item.uid==session.uid){ %>
                                    <span type="edit" onclick="edit('<%=item.aid %>','<%-item.content.replace(/\\n/g, '<br>') %>')">编辑</span>
                                    <span type="del" onclick="delan('<%=item.aid %>','<%=data.tid%>')">删除</span>
                                <% } %>
                                <% if(data.uid==session.uid && data.status!='已结'){ %>
                                <span class="jieda-accept" type="accept" onclick="acceptan('<%=item.aid %>','<%=data.tid%>')">采纳</span>
                                <% } %>
                            </div>
                        </div>
                    </li>


                    <% }) %>
                    <% if(answers.length==0) { %>
                    <!-- 无数据时 -->
                    <li class="fly-none">消灭零回复</li>
                    <% } %>
                </ul>

                <div class="layui-form layui-form-pane">
                    <form action="" method="post">
                        <div class="layui-form-item layui-form-text">
                            <a name="comment"></a>
                            <div class="layui-input-block">
                                <textarea id="content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" id="rpaid" value="">
                            <input type="hidden" id="raid" value="">
                            <button class="layui-btn" id="replysub" lay-filter="*" lay-submit>提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <% include ../common/replyRank.ejs %>
            <% include ../common/ad.ejs %>

        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/module.js"></script>
<script type="text/javascript" src="/javascripts/hotkeys.js"></script>
<script type="text/javascript" src="/javascripts/uploader.js"></script>
<script type="text/javascript" src="/javascripts/simditor.js"></script>
<script>
    let contentEditor = new Simditor({
        textarea: $('#content'),
        pasteImage: true,
        upload : {
            url : 'ImgUpload.action', //文件上传的接口地址
            params: null, //键值对,指定文件上传接口的额外參数,上传的时候随文件一起提交
            fileKey: 'fileDataFileName', //server端获取文件数据的參数名
            connectionCount: 3,
            leaveConfirm: '正在上传文件'
        }
    });
    $("#replysub").click(function () {
        const loginin='<%= session.username %>';
        if(!loginin){
            layer.alert('请先登录!');
            return false;
        }
        let content = $("#content").val();
        //如果raid不为空，则为编辑状态，如果为空，则为新增状态
        if($("#raid").val()){
            let data = {
                aid:$("#raid").val(),
                content: content
            }
            $.post('/server/answers/edit', data, function (res) {
                // console.log(res);
                if (res.status === 1) {
                    layer.alert('回复成功');
                    location.reload();
                }
                else
                    layer.alert('回复失败');
            });
        }else{
            let data = {
                tid:'<%= data.tid %>',
                content: content,
                paid:$("#rpaid").val()
            }
            $.post('/server/answers/add', data, function (res) {
                // console.log(res);
                if (res.status === 1) {
                    layer.alert('回复成功');
                    location.reload();
                }
                else
                    layer.alert('回复失败');
            });
        }

        return false;
    });

    function clickReply(paid,username,content){
        $("#rpaid").val(paid);
        contentEditor.setValue("<-</br> @<cite>"+username+"</cite>:"+content+" -> </br>");
    }

    function dianzan(aid){
        let data = {
            aid:aid
        }
        $.post('/server/answers/dianzan', data, function (res) {
            if (res.status === 1) {
                // layer.alert('点赞成功');
                location.reload();
            }
            else
                layer.alert('点赞失败');
        });
        return false;
    }

    function delan(aid,tid){
        let data = {
            aid:aid,
            tid:tid
        }
        $.post('/server/answers/del', data, function (res) {
            if (res.status === 1) {
                location.reload();
            }
            else
                layer.alert('删除失败');
        });
        return false;
    }

    function edit(aid,content){
        $("#raid").val(aid);

        contentEditor.setValue(content);
    }

    function acceptan(aid,tid){
        let data = {
            aid:aid,
            tid:tid
        }
        $.post('/server/answers/acceptan', data, function (res) {
            if (res.status === 1) {
                location.reload();
            }
            else
                layer.alert('采纳失败');
        });
        return false;
    }

    function deltopic(tid){
        let data = {
            tid:tid
        }
        $.post('/server/topics/del', data, function (res) {
            if (res.status === 1) {
                window.location.href='/';
            }
            else
                layer.alert('删除失败');
        });
        return false;
    }

    function settop(tid,istop,tuid){
        let data = {
            tid:tid,
            istop:istop,
            tuid:tuid
        }
        $.post('/server/topics/settop', data, function (res) {
            if (res.status === 1) {
                location.reload();
            }
            else{
                if(istop==1){
                    layer.alert('取消置顶失败');
                }else{
                    layer.alert('置顶失败');
                }

            }

        });
        return false;
    }

    function setselect(tid,isselect,tuid){
        let data = {
            tid:tid,
            isselect:isselect,
            tuid:tuid
        }
        $.post('/server/topics/setselect', data, function (res) {
            if (res.status === 1) {
                location.reload();
            }
            else{
                if(iselect==1){
                    layer.alert('取消加精失败');
                }else{
                    layer.alert('加精失败');
                }

            }

        });
        return false;
    }
</script>
</body>
</html>