<div class="fly-panel" style="margin-bottom: 0;">

    <div class="fly-panel-title fly-filter">
        <a id="zhonghe" href="/server/topics/topics?class=<%= tclass %>&status=&sort=<%= sort %>&page=1&num=15" class="layui-this">综合</a>
        <span class="fly-mid"></span>
        <a id="weijie" href="/server/topics/topics?class=<%= tclass %>&status=未结&sort=<%= sort %>&page=1&num=15">未结</a>
        <span class="fly-mid"></span>
        <a id="yijie" href="/server/topics/topics?class=<%= tclass %>&status=已结&sort=<%= sort %>&page=1&num=15">已结</a>
        <span class="fly-mid"></span>
        <a id="jinghua" href="/server/topics/topics?class=<%= tclass %>&status=精华&sort=<%= sort %>&page=1&num=15">精华</a>
        <span class="fly-filter-right layui-hide-xs">
            <a id="anzuixin" href="/server/topics/topics?class=<%= tclass %>&status=<%= tstatus %>&sort=按最新&page=1&num=15" class="layui-this">按最新</a>
            <span class="fly-mid"></span>
            <a id="anreyi" href="/server/topics/topics?class=<%= tclass %>&status=<%= tstatus %>&sort=按热议&page=1&num=15">按热议</a>
          </span>
    </div>

    <ul class="fly-list">
        <% if(topics) topics.forEach(function (item, index) { %>
        <li>
            <a href="/server/users/home?uid=<%=item.uid %>" class="fly-avatar">
                <%
                    let pic = item.pic;
                    if(item.pic.indexOf("public") != -1){
                        pic=item.pic.substring(item.pic.indexOf("public") + "public".length, item.pic.length)
                    }
                %>
                <img src="<%= pic %>" alt="<%= item.username %>">
            </a>
            <h2>
                <a class="layui-badge"><%= item.tclass %></a>
                <a href="/server/topics/topic/<%= item.tid %>"><%= item.title %></a>
            </h2>
            <div class="fly-list-info">
                <a href="/server/users/home?uid=<%=item.uid %>" link>
                    <cite><%= item.username %></cite>
                    <% if(item.role_type=='老师'){ %>
                        <i class="iconfont icon-renzheng layui-hide-xs" title="老师"></i>
                    <% } %>
                </a>
                <%
                    function p(s) {
                        return s < 10 ? '0' + s: s;//时间补零
                    }
                    let date = new Date(item.publishtime);
                    let date_value1 = '未知'
                    if(date) {
                        date_value1=date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + p(date.getHours()) + ':' + p(date.getMinutes()) + ':' + p(date.getSeconds());
                    }
                %>
                <span><%= date_value1 %></span>

                <span class="fly-list-kiss layui-hide-xs" title="悬赏积分"><i class="iconfont icon-jifen"></i> <%= item.texperience %></span>
                <span class="layui-badge fly-badge-accept layui-hide-xs"><%= item.status %></span>
                <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> <%= item.replys %>
              </span>
            </div>
            <div class="fly-list-badge">
                <% if(item.isselect==1){ %>
                <span class="layui-badge layui-bg-red">精帖</span>
                <% } %>
            </div>
        </li>
        <% }) %>
        <% if(topics.length==0) { %>
            <div class="fly-none" style="min-height:20px;">没有相关数据</div>
        <% } %>
    </ul>
    <% if(topics.length>0) { %>
        <div style="text-align: center">
            <div class="laypage-main">
                <a href="/server/topics/topics?class=<%= tclass %>&status=<%= tstatus %>&sort=<%= sort %>&page=<%= pages %>&num=15" class="laypage-next">更多求解</a>
            </div>
        </div>
    <% } %>


</div>
<script>

    const status='<%= tstatus %>';
    if(status){
        switch (status) {
            case "未结":
                $("#zhonghe").removeClass("layui-this");
                $("#weijie").addClass("layui-this");
                break;
            case "已结":
                $("#zhonghe").removeClass("layui-this");
                $("#yijie").addClass("layui-this");
                break;
            case "精华":
                $("#zhonghe").removeClass("layui-this");
                $("#jinghua").addClass("layui-this");
                break;
            default:
                $("#zhonghe").addClass("layui-this");
                $("#weijie").removeClass("layui-this");
                $("#yijie").removeClass("layui-this");
                $("#jinghua").removeClass("layui-this");
                break;
        }
    }

    const sort='<%= sort %>';
    if(sort){
        switch (sort) {
            case "按最新":
                $("#anzuixin").removeClass("layui-this");
                $("#anreyi").addClass("layui-this");
                break;
            case "按热议":
                $("#anzuixin").removeClass("layui-this");
                $("#anreyi").addClass("layui-this");
                break;
        }
    }

</script>